* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  overflow: hidden;
}
.xo-main {
  width: 100%;
  height: 100vh;
  background-color: #a6c48a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  .turn {
    margin-bottom: 30px;
    font-size: 6vw;
    color: #132a13;
  }
  .wraper {
    width: 350px;
    height: 400px;
    padding: 15px;
    background-color: #f2e8cf;
    ul {
      width: 320px;
      height: 320px;
      display: flex;
      flex-wrap: wrap;
      li {
        width: 33.333333%;
        height: 33.33333%;
        list-style-type: none;
        background-color: #6a994e;
        box-shadow: inset 0px 0px 7px #a7c957;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
      }
    }
    .time {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      font-weight: bold;
      font-size: 18px;
      color: #678d58;
      span {
        color: #132a13;
      }
    }
  }
  .winner {
    background-color: #735d78af;
    color: #f7d1cd;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 6vw;
    top: 110%;
    transition: 0.4s;
    button {
      background-color: #d1b3c4;
      width: 200px;
      height: 70px;
      border-radius: 35px;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      cursor: pointer;
      font-size: 22px;
      color: #5f0f40;
      transition: 0.4s;
      &:hover {
        background-color: #e8c2ca;
      }
      &:focus {
        outline: none;
      }
    }
  }
  #winning {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    height: 50px;
    align-items: center;
    font-weight: bold;
    span {
      color: #5f0f40;
    }
  }
}
.goTop {
  top: 0 !important;
}
.win {
  background-color: #b2e484 !important;
}
